In [2]:
import pandas as pd

In [ ]:
# create a pandas series from the list

In [4]:
bootcamp_unv = ["UCLA", "UC Berkley", "UC Irvine", "Rutgers"]
bootcamp_unv

['UCLA', 'UC Berkley', 'UC Irvine', 'Rutgers']

In [5]:
data_series = pd.Series(bootcamp_unv)

In [6]:
data_series

0          UCLA
1    UC Berkley
2     UC Irvine
3       Rutgers
dtype: object

In [7]:
type(data_series)

pandas.core.series.Series

In [ ]:
# create data frame weith list

In [8]:
movies_dict = [{"Title":"The Godfather", "Year released":1972}, {"Title":"pulp fiction", "year released":1994}]
pd.DataFrame(movies_dict)

           Title  Year released  year released
0  The Godfather         1972.0            NaN
1   pulp fiction            NaN         1994.0

In [ ]:
# create dataFrame with dict of lists column by column

In [10]:
movies = {'Title':["The Godfather","Pulp fiction"], "YEar released":[1972,1994]}
df_movies = pd.DataFrame(movies)
df_movies

           Title  YEar released
0  The Godfather           1972
1   Pulp fiction           1994

In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for high_school in high_school_types:
    print(high_school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}