In [3]:
# List of High Schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [4]:
# A dictionary of high schools and type of school
high_school_types = [{"High School": "Griffin", "Type": "District"},{"High School": "Figueroa", "Type": "District"},{"High School": "Wilson", "Type": "Charter"}, {"High School": "Wright", "Type": "Chater"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Chater'}

In [12]:
# list of High Schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [13]:
# Add a Pandas dependency
import pandas as pd
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [15]:
# A dictionary of High Schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [17]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

school_df = pd.DataFrame()
school_df["school ID"] = school_id
school_df["school Name"] = school_name
school_df["Type"] = type_of_school
print(school_df)

   school ID            school Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
# create a dictionary of high school information
high_schools_dict = {"School ID": "school_id", "School Name": "school_name", "Type": "type_of_school"}
high_schools_dict_df = pd.DataFrame()
high_schools_dict_df["school ID"] = school_id
high_schools_dict_df["school Name"] = school_name
high_schools_dict_df["Type"] = type_of_school
print(high_schools_dict_df)

   school ID            school Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [27]:
school_df.columns
school_df.index
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [30]:
bootcamp_unis = ["UCLA", "UC Berkeley", "UC Irvine","University of Central Florida", "Rutgers University"]
bootcamp_unis = pd.Series(bootcamp_unis)

In [5]:
# Dependencies
import pandas as pd

# Create a Pandas Series from the following list of schools.
bootcamp_unis = ["UCLA", "UC Berkeley", "UC Irvine","University of Central Florida", "Rutgers University"]
bootcamp_unis_series = pd.Series(bootcamp_unis)
bootcamp_unis

['UCLA',
 'UC Berkeley',
 'UC Irvine',
 'University of Central Florida',
 'Rutgers University']

In [15]:
# Convert the following list of dictionaries into a DataFrame.
import pandas as pd
movies_dicts = [{"Title": "The Godfather", "Year Released": 1972},
                {"Title": "The Shawshank Redemption", "Year Released": 1994},
                {"Title": "Pulp Fiction", "Year Released": 1994},
                {"Title": "The Lord of the Rings: The Return of the King", "Year Released": 2003}]
mvovies_dicts_pd = pd.DataFrame()
movies_dicts_df["The Godfather"] = "Title"
movies_dicts_df[1972] = "Year Released"
print(movies_dicts)

NameError: name 'movies_dicts_df' is not defined

In [13]:
# Edit the movie_dicts so that the the values for the "Title" and "Year Released" are list of movie titles and years.

#  Then, convert the dictionary of lists into a DataFrame. 
movies_dicts_df = pd.DataFrame(movies_dicts)
print(movies_dicts)

NameError: name 'movies_dicts_df' is not defined

In [ ]:
# Create a DataFrame using a dictionary of lists